<div class="container">
  <div class="text-center">
    <button type="button" class="btn btn-primary w-25 mt-2" (click)="carregarPreset()">Carregar Preset</button>
  </div>
  <div class="">
    <div class="row">
      <div class="col-md-6">

        <div class="mb-5 mt-5 text-center">
          <span class="mb-1">Insira as partições que deseja alocar:</span>
          <div class="row">
            <div class="col-md-2" *ngFor="let partition of partitions; let i = index; trackBy: trackByFn">
              <input type="number" class="form-control mb-2" [(ngModel)]="partitions[i]">
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-outline-primary w-100" (click)="addPartition()">+</button>
            </div>
          </div>
        </div>
        <div class="mt-5 mb-5 text-center">
          <span class="mb-1">Selecione o tipo de Alocação:</span>
          <div class="d-flex justify-content-center">
            <div class="w-50">
              <select class="form-select" aria-label="Selecione um tipo de alocação" [(ngModel)]="tipoAlocacao">
                <option value="{{tipoAlocacaoEnum.BEST_FIT}}">Best Fit</option>
                <option value="{{tipoAlocacaoEnum.WORST_FIT}}">Worst Fit</option>
                <option value="{{tipoAlocacaoEnum.FIRST_FIT}}">First Fit</option>
              </select>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-primary w-25" (click)="sendPartitions()">Salvar Memória</button>
        </div>
        <div *ngIf="!processosEnviados">
          <div class="text-center mt-5"><span>Processos:</span></div>
          <div class="row">
            <div class="col-md-4 mb-3" *ngFor="let processo of processos">
              <span>Nome:</span>
              <input type="text" class="w-100" [(ngModel)]="processo.nome">
              <span>Tamanho:</span>
              <input type="number" class="w-100" [(ngModel)]="processo.tamanho">
              <span>Duração:</span>
              <input type="number" class="w-100" [(ngModel)]="processo.duracao">
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-outline-primary w-100 box-processo"
                (click)="addProcesso()">+</button>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-primary w-25" (click)="sendProcessos()">Enviar</button>
          </div>
        </div>
        <div *ngIf="processosEnviados">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Tamanho</th>
                <th scope="col">Duração</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of processos">
                <td scope="row" class="align-middle">{{item.nome}}</td>
                <td class="align-middle"> {{item.tamanho}} </td>
                <td class="align-middle"> {{item.duracao}} </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">
            <button type="button" class="btn btn-primary w-25" (click)="onIniciarClick()">Iniciar</button> <br>
            <button type="button" class="btn btn-outline-primary w-25 mt-2" (click)="backProcessos()">Editar</button>
          </div>
        </div>

      </div>
      <div class="col-md-6 text-center">
        <h4>Memória</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Início</th>
              <th scope="col">Fim</th>
              <th scope="col">Tamanho</th>
              <th scope="col">Processo</th>
              <th scope="col">Duração</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listaMemoria; index as i">
              <td scope="row" class="align-middle">{{item.enderecoDeInicio}}</td>
              <td class="align-middle"> {{item.enderecoDeInicio + item.tamanho}} </td>
              <td class="align-middle"> {{item.tamanho}} </td>
              <td class="align-middle"> {{!item.free ? item.processo.nome : ""}} </td>
              <td class="align-middle"> <app-timer [tempo]="!item.free ? item.processo.duracao : 0" 
                (tempoRetornado)="atualizarTempo(i, $event)"></app-timer></td>
            </tr>
          </tbody>
        </table>
        <span>Tempo decorrido: {{timeAlocacao}} ns</span>
      </div>
    </div>
  </div>
</div>